body {
  background-color: #0d1117;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  color: white;
}

p {
  text-align: center;
}

.main-container > div {
  display: flex;
  flex-direction: column;
}

.progressbar {
  background-color: blue;
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;
  transform-origin: left;
  border-radius: 10px;
}